.custom-navbar {
    background-color: var(--primary) !important;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .navbar-toggler-icon {
  color: white !important;
}

.custom-offcanvas.offcanvas-end {
    width: 300px;
    max-width: 80vw;
}

.logo {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.logo-img {
  padding-right: 5px;
}

.plan-btn {
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 30px;
  padding: 8px 18px;
  font-weight: bold;
}